<!DOCTYPE html>

<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>About | Contest-Finder</title>

  <!-- css -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- facicon --}}
  <link rel="shortcut icon" href="/img/favicon.jpg" type="image/x-icon">
  <!-- fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600&family=Open+Sans:wght@300;400;500;600&display=swap"
    rel="stylesheet">

</head>

<body>
  <header>
    <div class="navbar">
      <h3 class="brand-title">CF Contest Finder</h3>
      <div class="navbar-buttons">
        <a href="/">Home</a>
        <a href="/howto">How To</a>
        <a class="active" href="/about">About</a>
      </div>
    </div>
  </header>

  <div class="about-container">
    <h2>Vishank Sharma</h1>
      <h4>Student at UVCE, Bangalore
    </h2>
    <div class="my-image">
      <img src="img/myPic.jpg" alt="image" height="200px" width="200px">
    </div>
    <p>Well there's not much to know about me but I am a third year student, currently
      pursuing my B.Tech. in Mechanical Engineering from University Visvesvaraya College of Engineering(UVCE),
      Bangalore.

      <br>Uniting the ideals of math with the efficiency of computers to solve problems of complex world.

      <br>Trying to strive and learning new things not only related to academics but also of the world around me. Last
      but not the least a defence aspirant who loves his nation. Jai Hind!
      <img src="https://twemoji.maxcdn.com/v/13.0.1/72x72/1f1ee-1f1f3.png" height="12px" width="12px" alt="INDIA"> </p>

    <div class="info">
      <a href="https://www.linkedin.com/in/vishank-sharma-3a65961b2/" target="_blank"><i
          class="fa fa-2x fa-linkedin"></i></a>
      <a href="https://github.com/VA-007" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      <a href="mailto: vishanksharma20102000@gmail.com"><i class="fa fa-2x fa-envelope"></i></a>
    </div>
  </div>

  <footer>
    <p>
      "नमस्ते"
      <img src="https://twemoji.maxcdn.com/v/13.0.1/72x72/1f1ee-1f1f3.png" height="12px" width="12px" alt="INDIA">
    </p>
    © Copyright Codeforces Contest Finder 2020. All Rights Reserved.
  </footer>
</body>

</html>